.hero_wrapper {
    perspective: 200vw;
}

.pin-spacer {
    height: 0;
}

.letter {
    display: inline-block;
    /* ←これ超重要 */
    position: relative;
}

.word {
    display: inline-block;
    /* ←これ超重要 */
    position: relative;
}

.splide__arrow {
    display: none;
}

.splide__pagination {
    display: none;
}

.ScrollSmoother-wrapper {
    pointer-events: auto;
}