/* Chrome, Safari, Edge 用 */
::-webkit-scrollbar {
    display: none;
}

/* Firefox 用 */
html {
    scrollbar-width: none;
}

/* Internet Explorer/古いEdge 用 */
body {
    -ms-overflow-style: none;
}

.image {
    user-drag: none;
    /* Safari対応 */
    user-select: none;
    /* テキストや画像の選択を無効化 */
    pointer-events: auto;
    /* クリックイベントは許可 */
    -webkit-user-drag: none;
    /* Safari/Chrome対応 */
}